<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://www.magnya.com/search-keyword-%E6%9C%AB%E6%97%A5.html</string>
	<string>http://www.zhongziso.com/list/%E6%9C%AB%E6%97%A5/1</string>
	<string>http://cililian.me/list/%E9%AB%98%E8%BE%BE/1.html</string>
	<string>http://www.breadsearch.com/search/%E6%9C%AB%E6%97%A5</string>
</array>
</plist>
