<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.bt177.net/word/%E6%9C%AB%E6%97%A5.html</string>
	<string>http://www.btdao5.com/list/%E6%9C%AB%E6%97%A5-s1d-1.html</string>
	<string>https://www.torrentso.com/cn/s/%E6%9C%AB%E6%97%A5/</string>
	<string>https://www.magnya.com/search-keyword-%E6%9C%AB%E6%97%A5.html</string>
	<string>http://www.sobt5.org/q/%E6%9C%AB%E6%97%A5.html</string>
	<string>http://www.zhongziso.com/info-ddd73a5aa82bc3932369fa93eb52f2e8668b4eb8</string>
	<string>http://cililian.me/list/%E9%AB%98%E8%BE%BE/1.html</string>
	<string>http://www.breadsearch.com/search/%E6%9C%AB%E6%97%A5</string>
</array>
</plist>
